doctype html


script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')

link(href="https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap" rel="stylesheet")
link(rel="stylesheet" type="text/css" href="../slick/slick.css")
link(rel="stylesheet" type="text/css" href="../slick/slick-theme.css")

style
	include ../../stylesheet.css

div(class='topBar')
	div(class='siteName')
		a(href='/') Chinyelu's Site
	
	div(class='optionsPanel')
		a(href="/signUp") Sign Up
		a(href="/logIn") Log In
			
	div(class='navBar')
		h1 #{pageName} 
		
		ul
			li
				a(href="/") Home
			li
				a(href="/users") Users
			li
				a(href="/gallery") Gallery
