doctype html

html
	include Templates/newHeader.pug

- 	if(usersArr.length > 0) {

table(id="sortableTable" align='center' class="display")
	thead
		tr
			th Name
			th Recent Steps
			th Avg. Steps

	each val in usersArr
			tr
				td= val.user_name
				td= val.recent_daily_steps
				td= val.average_daily_steps

- } else{ 
h2 no users
- }

script(type='text/javascript').
	$(document).ready(function(){
		$('#sortableTable').DataTable()
	})


