doctype html

html
	include Templates/newHeader.pug
	
div(class='content')

	div(class='carousel')
		img(src='../uploads/selfPortrait.jpg')
		img(src='../uploads/Stevie-e1387477195621.png')

script(type='text/javascript' src="//code.jquery.com/jquery-1.11.0.min.js")
script(type='text/javascript' src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
script(type='text/javascript' src="slick/slick.min.js")

script(type='text/javascript').
	$(document).ready(function(){
		$('.carousel').slick({
			dots: true,
			infinite: true,
			speed: 300,
			slidesToShow: 1,
			centerMode: true,
			variableWidth: true,
			autoplay: true,
			autoplaySpeed: 3000
		})
	})




