doctype html

script(src="https://apis.google.com/js/platform.js" async defer)

script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(type="text/javascript" charset="utf8" src="/DataTables/datatables.js")

link(href="https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap" rel="stylesheet")

style
	include testStyle.css

h1(id="homePageTitle") CHINYELU
	img(class='userImageTopBar' src=userImage style="border-radius: 10vmin; width:4vmin;")
	a(class="authButtons notLoggedIn" href='/auth/login') Log In 
	a(class="authButtons notLoggedIn") /
	a(class="authButtons" href='/auth/logout') Log Out
	ul(class="home-list")
		//- li
		//- 	a(href="/loginToFitbit") Fitbit Project
		//- li
		//- 	a(href="/gallery") My Gallery
		//- li
		//- 	a(href="/randomFilm") Random Films Project
		li
			a(href="/userProfile") My Profile


img(id='homePageImage' src='../uploads/me3.png')
div(id='testBlock')

script(type="text/javascript").
	$(".home-list li a").css('display', 'none')
	$($(".home-list li a")[0]).fadeIn(1000)
	$($(".home-list li a")[1]).fadeIn(1500)
	$($(".home-list li a")[2]).fadeIn(2000)
	$($(".home-list li a")[3]).fadeIn(2500)

	if("#{userID}"){
		$('.notLoggedIn').hide()
	}
