doctype html

link(href='https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap' rel='stylesheet')


html
	include Templates/header.pug

div
	h1(id="homePageTitle") CHINYELU


	a(href="/users") 
		h2(class='homeButtons' id="homeButtonsOne") Users
	a(href="/gallery") 
		h2(class='homeButtons' id="homeButtonsTwo") Gallery

	img(id='homePageImage' src='../uploads/me.png')


script(type="text/javascript").

	$('.topbar').css('display', 'none');
	$('#homePageImage').fadeIn(1000, function(){
		$('#homePageTitle').fadeIn(3000, function(){
			$('#homeButtonsOne').fadeIn(1000, function(){
				$('#homeButtonsTwo').fadeIn(1000);
			});
		});
	});

	document.cookie = `token=#{token}`
