doctype html

script(src='../javaScript/draggable.js')

link(href='https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap' rel='stylesheet')

script(type='text/javascript').
	draggable('.dragMe');

style
	include ../stylesheet.css

html
	include Templates/header.pug

h1: #{pageName}

div(class='inputFields')
	input#UserNameID.userDetailsClass(name='input1' type='text' placeholder='Name')
	br
	input#UserAgeID.userDetailsClass(name='input2' type='text' placeholder='Age')
	br
	input#UserGenderID.userDetailsClass(name='input3' type='text' placeholder='Gender')
	br
	button Save


div(class='innerWindow dragMe' style='display: none;')
	iframe(src='/users' width='50%' height='20%')


script(type='text/javascript').
	$('button').click(function(){
		var nameVal = $('.userDetailsClass')[0].value;
		var ageVal = $('.userDetailsClass')[1].value;
		var genderVal = $('.userDetailsClass')[2].value;

	  $.post('/ajaxPOST',
	  {
	    Name: nameVal,
	    Age: ageVal,
	    Gender: genderVal
	  },
	  function(data, status){
	    alert('Data: ' + data + '\nStatus: ' + status);
	  });
	  $('.userDetailsClass')[0].value = ''
	  $('.userDetailsClass')[1].value = ''
	  $('.userDetailsClass')[2].value = ''
	});
