doctype html

html
	include Templates/newHeader.pug

h1(id="homePageTitle") CHINYELU

ul
	li
		a(href="/connectFitbit") Fitbit
	li
		a(href="/gallery") Gallery
	li
		a(href="/randomFilm") Random Films


div(class='flex-container')
	img(id='homePageImage' src='../uploads/me.png')
	div(id='halo')