doctype html

script(src='../javaScript/draggable.js')

link(href='https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap' rel='stylesheet')

script(type='text/javascript').
	draggable('.dragMe');

style
	include ../stylesheet.css

html
	include Templates/header.pug


div(class='inputFields')
	input#UserNameID.userDetailsClass(name='input1' type='text' placeholder='Name')
	br
	input#UserGenderID.userDetailsClass(name='input4' type='text' placeholder='Password')
	br
	button(id='saveButton') Log In

div(class='innerWindow dragMe' style='display: none;')
	iframe(src='/users' width='50%' height='20%')

script(type='text/javascript').
	$('#saveButton').click(function(){
		var nameVal = $('.userDetailsClass')[0].value;
		var passwordVal = $('.userDetailsClass')[1].value;

		$.get('/ajaxGETpassword',
		{
			Name: nameVal,
			Password: passwordVal
		},
		function(data, status){
			window.location.replace('/users/'+data.id)
		});
	});

