doctype html

link(href='https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap' rel='stylesheet')


style
	include ../stylesheet.css

html
	include Templates/newHeader.pug

div(class="g-signin2" data-onsuccess="onSignIn")

div(class='inputFields')
	input#UserNameID.userDetailsClass(name='input1' type='text' placeholder='Name')
	br
	input#UserGenderID.userDetailsClass(name='input4' type='password' placeholder='Password')
	br
	button(id='saveButton') Log In

script(type='text/javascript').
	$('#saveButton').click(function(){
		let nameVal = $('.userDetailsClass')[0].value
		let passwordVal = $('.userDetailsClass')[1].value

		$.get('/ajaxLogin',
		{
			Name: nameVal,
			Password: passwordVal
		},
		function(data, status){
			if(data.JWT){
				//alert(data.JWT)
				document.cookie = 'token='+data.JWT
				window.location.replace('/user')
			}
			else{
				alert(data.Message)
			}
		})
	})

