doctype html

script(src='../javaScript/draggable.js')

link(href='https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap' rel='stylesheet')

script(type='text/javascript').
	draggable('.dragMe');

style
	include ../stylesheet.css

html
	include Templates/header.pug

h1: #{pageName}

- var uploadMessage = 'Select a user image'

div(class='upload')
	include fileUpload.pug

div(class='inputFields')
	input(id='UserNameID' class='userDetailsClass' name='input1' type='text' placeholder='Name')
	br
	input(id='UserAgeID' class='userDetailsClass' name='input2' type='text' placeholder='Age')
	br
	input(id='UserGenderID' class='userDetailsClass' name='input3' type='text' placeholder='Gender')
	br
	input(id='UserPasswordID' class='userDetailsClass' name='input4' type='text' placeholder='Password')
	br
	a(id='saveButton' href='/users') Save


div(class='innerWindow dragMe' style='display: none;')
	iframe(src='/users' width='50%' height='20%')


script(type='text/javascript').
	$('#saveButton').click(function(){
		var nameVal = $('.userDetailsClass')[0].value;
		var ageVal = $('.userDetailsClass')[1].value;
		var genderVal = $('.userDetailsClass')[2].value;
		var passwordVal = $('.userDetailsClass')[3].value;

	  $.post('/ajaxPOSTusers',
	  {
	    Name: nameVal,
	    Age: ageVal,
	    Gender: genderVal,
	    Password: passwordVal
	  },
	  function(data, status){
	    alert('Data: ' + data + '\nStatus: ' + status);
	  });

	});
