doctype html

link(href='https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap' rel='stylesheet')

style
	include ../stylesheet.css

html
	include Templates/header.pug

- var uploadMessage = 'Select a user image'

div(class='upload')
	include fileUpload.pug

div(class='inputFields')
	input(id='UserNameID' class='userDetailsClass' name='input1' type='text' placeholder='Name')
	br
	input(id='UserDOBID' class='userDetailsClass' name='input2' type='date' placeholder='D O B')
	br
	input(id='UserGenderID' class='userDetailsClass' name='input3' type='text' placeholder='Gender')
	br
	input(id='UserPasswordID' class='userDetailsClass' name='input4' type='password' placeholder='Password')
	br
	a(id='saveButton' href='/user') Save


script(type='text/javascript').
	$('#saveButton').click(function(){
		var nameVal = $('.userDetailsClass')[0].value;
		var DOBVal = $('.userDetailsClass')[1].value;
		var genderVal = $('.userDetailsClass')[2].value;
		var passwordVal = $('.userDetailsClass')[3].value;

		$.post('/ajaxSignUp',
		{
			Name: nameVal,
			DOB: DOBVal,
			Gender: genderVal,
			Password: passwordVal
		},
		function(data, status){
			//alert('Data: ' + data + '\nStatus: ' + status);
			document.cookie = 'token='+data;
		});
	});
