h1, h2, h3, a{
	font-family: 'Sen', sans-serif;
}
body{
	margin: 0;
	background-color: #9A9A9A;
}

a.authButtons {
    float: right;
    font-size: 2vmin;
    z-index: 1;
}

.flex-container {
	display: flex;
	justify-content: center;
	text-align: center;
}
#homePageTitle{
	font-size: 6vmin;
}
#homePageImage {
	position: fixed;
	filter: grayscale(100%);
	z-index: -1;
	bottom: 0px;
	right: 0px;
	height: 100vmin;
	transition: 0.8s;
}
#homePageImage:hover {
	filter: none;
	transition: 0.8s;
}

#testBlock{
	position: fixed;
	right: 42vmin;
	top: 45vmin;
	transform: rotate(74.08deg);
	width: 80vmin;
	height: 80vmin;
	background: linear-gradient(135.24deg, #FF0000 1.1%, #EB00FF 94.05%);
	z-index: -2;
}

.home-list li a:hover{
	background: linear-gradient(135.24deg, #FF0000 1.1%, #EB00FF 94.05%);
	color: white;
	transition: 0.9s;
}

.home-list li a{
	padding-top: 4vmin;
	padding-bottom: 4vmin;
	padding-right: 10vmin;
	padding-left: 10vmin;
	background-color: grey;
	border-radius: 15vmin;
	display: block;
}
.home-list li{
	margin: 3vmin;
}

.home-list{
	display: block;
	position: absolute;
	list-style-type:none;
	font-size: 5vmin;
	left: 1vmin;
}
li{
	list-style-type:none;

}

a:link {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

.top-bar-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.top-bar{
	/*color: white;*/
	background-color: grey;
	overflow: hidden;
	margin-bottom: 6vmin;
}

#tobBarTitle, #homePageTitle{
	padding-left: 2vmin;
}

.top-bar-list li a:hover{
	background: linear-gradient(135.24deg, #FF0000 1.1%, #EB00FF 94.05%);
	color: white;
	transition: 0.9s;
}

.top-bar-list li a{
	padding-top: 1vmin;
	padding-bottom: 1vmin;
	padding-right: 10vmin;
	padding-left: 10vmin;
	background-color: grey;
	border-radius: 15vmin;
	display: block;
}
.button-center:hover{
	color: white;
	transition: 0.9s;
}

.button-center{
    display: flex;
    justify-content: center;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    padding-right: 10vmin;
    padding-left: 10vmin;
    border-radius: 15vmin;
    background: linear-gradient(135.24deg, #FF0000 1.1%, #EB00FF 94.05%);
    margin-right: 25vw;
    margin-left: 25vw;
    font-size: 5vmin;
    display: block;
    text-align: center;
}

/*slick gallery start*/
.slick-slide {
	height: 35vmax;
}
.carousel {
	width: 90vmax !important;
	margin: auto;
}

.slick-next:before, .slick-prev:before{
	color: black;
}
/*slick gallery end*/