doctype html

html
	include Templates/header.pug


div(class='userCard')
	img(class="userImage" src='../uploads/Stevie-e1387477195621.png' height='100' width='100' style='border-radius:50px;')
	
	h1(class='userPageName') #{Name}
	
	div(class='userPageText')
		a userID: #{ID} 
		br
		a Age: #{Age} 
		br
		a Gender: #{Gender} 

button(class='editButton') edit

