doctype html

html(crossorigin="anonymous")
	include Templates/newHeader.pug

script(src="/javaScript/bundle.js")

img(class='userImage' src=userImage)
h1 #{userName}'s Profile

div(class="canvasWrapper" style="width:70vmin; height:70vmin;")
	canvas(id="myChart")

script(type='text/javascript').
	let ctx = document.getElementById('myChart')
	let myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: ['Recent Steps', 'Average Daily Steps'],
			datasets: [{
				label: 'My Stats',
				data: [#{recentSteps}, #{averageSteps}],
				backgroundColor: [
				'rgba(255, 99, 132, 0.5)',
				'rgba(54, 162, 235, 0.5)'
				],
				borderColor: [
				'rgba(255, 99, 132, 1)',
				'rgba(54, 162, 235, 1)'
				],
				borderWidth: 1
			}]
		},
		options: {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}
	});



	$.get('/getAll', null, function(data, status){
		if(confirm(data)){
			location.href = '/loginToFitbit'
			//- location.href = '/connectFitbit'
		}
	})

	let searchParams = window.location.search
	let indexEq = searchParams.indexOf('=')
	let fitbitCode = searchParams.slice(indexEq+1)
	if(fitbitCode){
		debugger
		$.post('/getAllTokens',{
			code: fitbitCode
		},
		function(data, status){
			alert('We Okay')
		})
	}

 

	//- let hashData = window.location.hash 
	//- let indexEq = hashData.indexOf('=')
	//- let indexAmp = hashData.indexOf('&')
	//- let accToken = hashData.slice(indexEq+1, indexAmp)
	
	//- let indexUserId = hashData.indexOf('user_id=')
	//- let indexScope = hashData.indexOf('&scope=')
	//- let userId = hashData.slice(indexUserId+8, indexScope)
	
	//- //- alert('TOKEN: '+ accToken)
	//- //- alert('USER ID: '+ userId)
	
	//- if(accToken){
	//- 	$.post('/requestFitbit',
	//- 	{
	//- 		fitbitAccToken: accToken,
	//- 		fitbitUserId: userId
	//- 	},
	//- 	function(data, status){
	//- 		alert('sent')
	//- 	})
	//- }





