doctype html

html
	include Templates/header.pug

script(type='text/javascript').
	var at = window.location.hash; 
	var indexEq = at.indexOf('=');
	var indexAmp = at.indexOf('&');
	console.log(at.slice(indexEq, indexAmp));

	$.post('/requestFitbit',
	{
		postData: at.slice(indexEq, indexAmp)
	},
	function(data, status){
		alert('sent');
	});

