doctype html

html
	include Templates/header.pug

script(type='text/javascript').
	var hashData = window.location.hash; 
	var indexEq = hashData.indexOf('=');
	var indexAmp = hashData.indexOf('&');
	var accToken = hashData.slice(indexEq+1, indexAmp);

	alert('TOKEN: '+ accToken);
	console.log('TOKEN: '+ accToken);
	/*$.post('/requestFitbit',
	{
		postData: accToken
	},
	function(data, status){
		alert('sent');
	});

