doctype html

html
	include Templates/newHeader.pug

button(class='activity') Recent Activity

script(type='text/javascript').
	var hashData = window.location.hash; 
	var indexEq = hashData.indexOf('=');
	var indexAmp = hashData.indexOf('&');
	var accToken = hashData.slice(indexEq+1, indexAmp);
	
	var indexUserId = hashData.indexOf('user_id=');
	var indexScope = hashData.indexOf('&scope=');
	var userId = hashData.slice(indexUserId+8, indexScope);
	
	alert('TOKEN: '+ accToken);
	
	$.post('/requestFitbit',
	{
		fitbitAccToken: accToken,
		fitbitUserId: userId
	},
	function(data, status){
		alert('sent');
	});

	$('.activity').click(function(){
		$.get('/getFitbitActivitiesData',
		{
			accessToken: accToken,
			loggedIn: document.cookie
		},
		function(data, status){
			debugger;
			alert("SUMMARY: "+data.activitySummary);
		});
	});
	
