doctype html

html
	include Templates/newHeader.pug

button(class='activity') Recent Activity

script(type='text/javascript').
	let hashData = window.location.hash 
	let indexEq = hashData.indexOf('=')
	let indexAmp = hashData.indexOf('&')
	let accToken = hashData.slice(indexEq+1, indexAmp)
	
	let indexUserId = hashData.indexOf('user_id=')
	let indexScope = hashData.indexOf('&scope=')
	let userId = hashData.slice(indexUserId+8, indexScope)
	
	alert('TOKEN: '+ accToken)
	alert('USER ID: '+ userId)
	
	$.post('/requestFitbit',
	{
		fitbitAccToken: accToken,
		fitbitUserId: userId
	},
	function(data, status){
		alert('sent')
	})

	$('.activity').click(function(){
		$.get('/getFitbitActivitiesData',
		{
			accessToken: accToken,
			loggedInCookie: document.cookie
		},
		function(data, status){
			debugger
			alert("SUMMARY: "+data.activitySummary)
		})
	})
	
