doctype html

html
	include Templates/header.pug

script(type='text/javascript').
	var at = window.location.hash; 
	
	$.post('/requestFitbit',
	{
		postData: at
	},
	function(data, status){
		alert('sent');
	});

