style
	include stylesheet.css


div(class='y')
	svg(width="652" height="652" viewbox="0 0 652 652" fill="none" xmlns="http://www.w3.org/2000/svg")
		circle(cx="326" cy="326" r="326" fill="#C4C4C4")
		circle(cx="326" cy="326" r="326" fill="url(#paint0_linear)")
		defs
			lineargradient#paint0_linear(x1="326" y1="0" x2="326" y2="652" gradientunits="userSpaceOnUse")
				stop(stop-color="#FF0000")
				stop(offset="0.697917" stop-color="#F4008A")
				stop(offset="1" stop-color="#EB00FF")


h1 hi